* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #F5F5DC;
}

h1,
h2 {
    color: #4B3F33;
    font-family: "Playwrite CU", Arial;
}

p {
    color: #45301c;
    font-family: "Lato", Arial;
}

:root {
    --warm-Beige: #F5F5DC;
    --dark-brown: #4B3F33;
    --dark-umber: #45301c;
    --light-gray: #f5f5f5;
}

header {
    background-color: var(--dark-brown);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 150px;
}

.flex-nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.flex-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.flex-nav li {
    margin: 0 15px;
}

.flex-nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.flex-nav a:hover {
    background-color: #575757;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 18px;
}

.navigation ul li a.active {
    color: #fff;
    background-color: #333;
    padding: 10px;
}

footer {
    background-color: var(--dark-brown);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

footer .footer-info,
footer .footer-credits {
    font-size: 14px;
}

footer .footer-social img {
    width: 55px;
    margin: 0 10px;
}

footer a {
    color: var(--gold-yellow);
}

footer a:hover {
    color: white;
}

.hero {
    padding: 20px 20px;
    text-align: center;
}

.hero-image {
    position: relative;
    padding: 30px;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.explanation,
.form {
    padding: 40px;
    background-color: #f8f8e6;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    box-sizing: border-box;
}

.explanation h1,
.form h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="phone"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #45301c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8a6f56;
}



@media (max-width: 768px) {

    .flex-nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .flex-nav ul.show {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .flex-nav li {
        list-style: none;
    }

    .flex-nav a {
        text-decoration: none;
        color: black;
        padding: 10px 15px;
    }

    .hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .container {
        flex-direction: column;
        padding: 20px;
    }

    section {
        width: 100%;
        margin-bottom: 20px;
    }

}